<% include ../partials/header %>

<div class="row">
  <div class="col-md-9">
    <!-- posts index -->
    <% topics.forEach(function(topic){ %>
      <div class="row">
        <div class="col-md-12 post-index">
          <p class="post-title"><a href="/topics/<%= topic._id %>"><%= topic.title %></a></p>
          <p>posted <%= moment(topic.createdAt).fromNow() %> by <%= topic.author.username %></p>
          <p><%= topic.comments.length %> comments</p>
        </div>
      </div>
    <% }) %>
  </div>
  <div class="col-md-3">
    <p class="pull-right"><a class="btn btn-main" href="/topics/new">New post</a></p>
  </div>
</div>

<% include ../partials/footer %>
