<% include ../partials/header %>

<h1>Topics SHOW</h1>

<p><%= topic.title %></p>

<p><%= topic.body %></p>

<p>submitted by <%= topic.author.username %></p>

<p><img src="<%= topic.image %>" /></p>

<a class="btn btn-danger" href="/topics/<%= topic._id %>/comments/new">New Comment</a>

<% topic.comments.forEach(function(comment){ %>
  <p><b><%= comment.author.username %></b> - <%= comment.text %></p>
<% }) %>


<% include ../partials/footer %>
