<% include ../partials/header %>

<div class="row">
  <div class="col-md-10">
    <div class="post-box round">
      <!-- 1 / 4 -->
      <div class="post-info">
        <span class="post-title">
          <a href="#"><%= topic.title %></a>
        </span>
        <!-- edit post button -->
        <% if(currentUser && topic.author.id.equals(currentUser._id)) { %>
          <div class="pull-right">
            <a href="/topics/<%= topic._id %>/edit" class="btn btn-post-reply">
              <i class="fa fa-edit" aria-hidden="true"></i> Edit
            </a>
          </div>
        <% } %>
        <!-- 2/4 -->
        <div>
          posted <%= moment(topic.createdAt).fromNow() %> by
          <strong>
            <a class="author" href="/users/<%= topic.author.id %>"><%= topic.author.username %></a>
          </strong>
        </div>
      </div>
      <!-- 3 / 4 -->
      <div class="post-body round">
      <%- topic.body %>
      <% if(topic.image) { %>
        <img class="img-responsive" src="<%= topic.image %>">
      <% } %>
      </div>
      <!-- 4 / 4 -->
      <div class="post-links">
        <strong>
          <%= topic.comments.length %> comments
          &nbsp;
          reply
        </strong>
      </div>
    </div>
    <!-- user options -->
    <div style="padding: 10px 0;">
      <a class="btn btn-default" href="#">
        <i class="fa fa-link fa-padding" aria-hidden="true"></i>Share
      </a>
      <a class="btn btn-main" href="/topics/<%= topic._id %>/comments/new">
        <i class="fa fa-reply fa-padding" aria-hidden="true"></i>Reply
      </a>
    </div>

    <% if(currentUser) { %>
    <div class="row">
      <div class="col-md-12">
        <div class="post-body round">
          <form action="/topics/<%= topic._id %>/comments" method="POST">
            <div class="form-group">
              <label for="text">Write a comment</label>
              <textarea class="form-control" name="comment[text]" id="text" rows="5"></textarea>
            </div>
            <p><button class="btn btn-main">Comment <i class="fa fa-comment" aria-hidden="true"></i></button></p>
          </form>
        </div>
      </div>
    </div><br>
    <% } %>

    <!-- post comments -->
    <% topic.comments.forEach(function(comment){ %>
      <div class="comment-box">
        <div class="post-info">
          <strong><a class="author" href="#"><%= comment.author.username %></a></strong></b> &#183; <%= moment(comment.createdAt).fromNow() %>
        </div>
        <p>
          <%= comment.text %>
        </p>
      </div>
    <% }) %>
  </div>
  <!-- section right -->
  <div class="col-md-2">
    <div class="right-message">
      tags
    </div>
  </div>
</div>

<% include ../partials/footer %>
