<% include ../partials/header %>



<div class="row" style="padding-top: 15px;">
  <div class="col-md-9">
    <div class="row">
        <div class="col-md-12">
          <div class="side-padding">
            <div class="post-info" style="line-height: 120%;">
              <span class="post-title"><a href="#"><%= topic.title %></a></span>

              <% if(currentUser && topic.author.id.equals(currentUser._id)) { %>
                <div class="pull-right">
                  <a href="/topics/<%= topic._id %>/edit" class="btn btn-post-reply"><i class="fa fa-edit" aria-hidden="true"></i> Edit</a>
                </div>
              <% } %>


              <br>
              posted 12 hours ago by <strong><a class="author" href="#"><%= topic.author.username %></a></strong>
            </div>
            <div class="post-body">
              <p><%= topic.body %></p>
            </div>
        </div>
        <div style="padding-bottom: 5px;">
          <img
          class="img-responsive"
          src="<%= topic.image %>" />
        </div>
         <div class="side-padding">
            <a class="btn btn-post"><i class="fa fa-comment" aria-hidden="true"></i> 0 Comments</a>
          <div class="pull-right">
            <a class="btn btn-post"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
            <a class="btn btn-post"><i class="fa fa-heart" aria-hidden="true"></i></a>
            <a class="btn btn-post-reply"><i class="fa fa-reply" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>

    <hr style="margin: 5px 0" />

    <div class="side-padding">
      <% topic.comments.forEach(function(comment){ %>
      <div class="row post-comment">
          <div class="col-md-12">
            <div class="post-info">
              <strong><a href="#"><%= comment.author.username %></a></strong></b> &#183; 12h
            </div>
            <div class="comment-body">
              <p><%= comment.text %></p>
            </div>
            <div>
            <div class="pull-right">
              <a class="btn btn-post"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
              <a class="btn btn-post"><i class="fa fa-heart" aria-hidden="true"></i></a>
              <a class="btn btn-post-reply"><i class="fa fa-reply" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
      <% }) %>
      <div style="padding-bottom: 10px;">
        <a class="btn btn-default" href="#"><i class="fa fa-link fa-padding" aria-hidden="true"></i>Share</a>
        <a class="btn btn-main" href="/topics/<%= topic._id %>/comments/new"><i class="fa fa-reply fa-padding" aria-hidden="true"></i>Reply</a>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="right-message side-padding">
      #tags
    </div>
  </div>
</div>

<% include ../partials/footer %>
